<footer id="site-footer">
  <div class="container">
    <div class="h5 pt-4">{{ site.title | escape }} <span class="text-secondary text-justify">{{ site.description | escape }}</span></div>

    <div class="row">
      <div class="col col-lg-3">
        <ul class="list-unstyled">
          <li class="text-secondary">
            {{ site.author | escape }} (<a href="{{ site.twitter_url }}"><span>@{{ site.twitter_username | escape }}</span></a>)
          </li>
        </ul>
      </div>
    </div>

  </div>
</footer>
